## 10월 3주차 Python Study Quiz_발표자 : 백승재

In [1]:
import pandas as pd
df1 = pd.read_csv('./korean-idol.csv')

In [2]:
copy_df=df1.copy()

NameError: name 'df1' is not defined

### Quiz  Data 01의 데이터 분포를 표준편차를 통해 확인하려고 한다. 표준 편차를 구하는 과정에 해당하지 않은 것은?

In [3]:
data_01 = np.array([1, 3, 5, 7,8,10,10,11,12,14])

In [4]:
data_01.mean()

8.1

In [16]:
np.sqrt(((1-8.1)**2 + (3-8.1)**2 + (5-8.1)**2 + (7-8.1)**2 + (8-8.1)**2+(10-8.1)**2*2+(11-8.1)**2+(12-8.1)**2+(14-8.1)**2 ) / 10)

3.9102429592034302

In [17]:
data_01.std()

3.9102429592034302

In [18]:
data_01.var()

15.289999999999997

In [8]:
np.sqrt(data_01.var())

3.9102429592034302

In [9]:
# mode는 최빈값 함수로 dataframe에서 사용 가능 하다.
data_01.mode()

AttributeError: 'numpy.ndarray' object has no attribute 'mode'

### Quiz DF데이터에서 혈액형별 키에 대한 평균값을 출력한 것이 아닌 것은?

In [10]:
df = pd.read_csv('./korean-idol.csv')

In [19]:
pd.pivot_table(df,columns = "혈액형", values="키",aggfunc=np.mean)

혈액형           A     AB      B        O
키    172.966667  176.5  183.0  177.875

In [20]:
df.groupby("혈액형")['키'].mean()

혈액형
A     172.966667
AB    176.500000
B     183.000000
O     177.875000
Name: 키, dtype: float64

In [13]:
#3 혈액형 별 키의 평균값만 출력됨
df.loc[:,['혈액형','키']].mean()

키    175.792308
dtype: float64

In [14]:
df.groupby(["혈액형"]).mean()

              키       브랜드평판지수
혈액형
A    172.966667  7.075481e+06
AB   176.500000  5.687578e+06
B    183.000000  4.087321e+06
O    177.875000  3.939920e+06

In [15]:
df.groupby(["혈액형"]).mean().reset_index()

  혈액형           키       브랜드평판지수
0   A  172.966667  7.075481e+06
1  AB  176.500000  5.687578e+06
2   B  183.000000  4.087321e+06
3   O  177.875000  3.939920e+06

### Quiz 다음 데이터 프레임에 ’키’열에 결측값을 처리해 원본에 적용하는 방법으로 적절하지 않는 것은?

In [5]:
df1 = pd.read_csv('./korean-idol.csv')

In [73]:
df1=df.copy()

In [76]:
df1['키']=df1['키'].fillna(0)
df1['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       0.0
8     179.2
9     167.1
10      0.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [77]:
df2=df.copy()

In [79]:
df2['키'].fillna(df['키'].mean(),inplace=True)
df2['키']

0     173.600000
1     177.000000
2     180.000000
3     178.000000
4     162.100000
5     178.000000
6     182.300000
7     175.792308
8     179.200000
9     167.100000
10    175.792308
11    183.000000
12    175.000000
13    176.000000
14    174.000000
Name: 키, dtype: float64

In [81]:
df['키'].fillna(df['키'].median())

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7     177.0
8     179.2
9     167.1
10    177.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [82]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [84]:
df['키'].mode()

0    178.0
dtype: float64

In [85]:
df3=df.copy()

In [89]:
df3['키']=df3['키'].fillna(df['키'].max())
df3['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7     183.0
8     179.2
9     167.1
10    183.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

### Quiz 데이터 프레임에 키에 대한 중복값을 가지는 행을 제거(first 중복값 제거)하는 전처리 구문으로 적절한 것은 ?

In [12]:
df = pd.read_csv('./korean-idol.csv')
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [23]:
#2. 뷔(3)과 소연(7) 행 제거됨
df = pd.read_csv('./korean-idol.csv')
df.drop_duplicates('키', keep='last')

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [16]:
#1 정국 키 NAN 처리됨
df = pd.read_csv('./korean-idol.csv')
df['키'] = df['키'].drop_duplicates(keep='first')
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01    NaN   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [18]:
#3. 뷔 키값 NAN으로 변경됨
df = pd.read_csv('./korean-idol.csv')
df['키'] = df['키'].drop_duplicates(keep='last')
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30    NaN  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [21]:
#4. 정국(5)과 태연(10) 행 제거됨
df = pd.read_csv('./korean-idol.csv')
df.drop_duplicates('키', keep='first')

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442